*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: 'Roboto Medium';
   src: url('./fonts/Roboto-Medium.woff') format('woff');
   font-display: swap;
   font-weight: 500;
   font-style: normal;
   }

 @font-face {
      font-family: 'Roboto Regular';
      src: url('./fonts/Roboto-Regular.woff') format('woff');
      font-display: swap;
      font-weight: 400;
      font-style: normal;
 } 

 body{
    font-family: 'Roboto Regular';
    max-width: 1920px;
    margin: 0 auto;
 }

.logo {
   display: flex;
   align-items: center;
   background-color: #090808;
   max-width: 1920px;
   height: 80px;
   margin: 0 auto; 
}

.logo svg{
   padding-left: 32px;
}

.main{
   display: flex;
   max-width: 1920px;
   min-height: 676px;
   padding-left: 160px;
   padding-right: 160px;
   justify-content: space-between;
}

.title{
   font-family: 'Roboto Medium';
   font-style: normal;
   font-weight: 500;
   font-size: 72px;
   line-height: 84px;
   display: flex;
   max-width: 1920px;
   padding-top: 80px;
   padding-left: 160px;
}

.main p{
   font-weight: 400;
   font-size: 32px;
   line-height: 38px;
}

.output{
   max-width: 700px;
   word-wrap: break-word;
}

.main__text{
   padding-bottom: 58px;
}

.main__form{
   display: flex;
   box-sizing: border-box;
   border: 1px solid #000000;
   width: 400px; 
   margin-bottom: 402px;
}

.form{
   padding-left: 16px;
   padding-top: 32px;
   padding-bottom: 32px;
}

.main__form--title{
   display: flex;
   font-size: 16px;
   line-height: 19px;
}

.numError{
    display: block;
    color: red;
    font-size: 13px;
    margin-bottom: 16px;
}

.textError{
   display: block;
   color: red;
   font-size: 13px;
   margin-bottom: 16px;
}

.input__area{
   width: 368px;
   height: 48px;
   border: 1px solid #000000;
}

.btn {
   display: inline-block;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   width: 368px;
   height: 48px;
   color: #fff;
   background-color: #000000;
   align-items: center;
   cursor: pointer;
   
}

.footer {
   display: flex;
   align-items: flex-end;
}

.logo__footer {
   display: flex;
   align-items: center;
   background-color: #737373;
   max-width: 1920px;
   height: 160px;
   margin: 0 auto;    
}

.logo__footer svg{
   padding-left: 32px;
}
